.footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $ship-gray;
}

.footer-top {
  height: auto;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;

  @include mq(900px, max) {
    width: 450px;
    flex-wrap: wrap;
  }

  @include mq(500px, max) {
    width: 250px;
    flex-wrap: wrap;
  }
}

.footer-top__item {
  width: 190px;
  height: 195px;
  margin: 0 29px 0 29px;

  @include mq(1000px, max) {
    margin: 0 10px 0 10px;
  }
}

.footer-top__item-caption {
  font-family: $playfair-display-bold;
  font-size: 13.96px;
  line-height: 1.71;
  color: $white;
  text-transform: uppercase;
}

.footer-top__item-text {
  width: 184px;
  font-family: $openSans-light;
  font-size: 11.97px;
  line-height: 1.45;
  color: $white;
}

.footer-top__item-form {
  margin: 22px 0 0 0;
}

.footer-top__item-form--name {
  width: 184px;
  height: 32px;
  padding: 0 0 0 5px;
  border: none;
  font-family: $openSans-light;
  font-size: 13.96px;
  line-height: 1.71;
  color: $cod-gray;
  outline:none;
}

.footer-top__item-form--mail {
  width: 184px;
  height: 32px;
  margin-top: 12px;
  padding: 0 0 0 5px;
  border: none;
  font-family: $openSans-light;
  font-size: 13.96px;
  line-height: 1.71;
  color: $cod-gray;
  outline:none;
}

.footer-top__item-form--checkbox {
  display: none;
}

.footer-top__item-form--wrapper {
  margin: 2px 0 0 0;

  label {



    &:before {
      content: " ";
      color: #000;
      display: inline-block;
      font: 8px/8px FontAwesome;
      line-height: 1;
      margin: -3px 8px 0 1px;
      position: relative;
      text-align: center;
      text-indent: 0;
      width: 8px;
      height: 8px;
      background: #FFF;
      border: none;
      border-image: initial;
      vertical-align: middle;
    }
  }

  input:checked + label:before {
    content: "\f00c";
  }

  input:disabled + label:before {
    background: #eee;
    color: #aaa;
  }
}

.footer-top__item-form--link {
   font-family: $openSans;
   font-size: 10.5px;
   letter-spacing: -0.2px;
   line-height: 2.4;
   color: $nobel;
   text-decoration: none;
  outline:none;

   &:hover {
     color: $hampton;
     transition: 0.5s all;
   }

   &:not(:hover) {
     transition: 0.5s all;
   }
 }

.footer-top__item-form--submit {
  margin-top: 1px;
  width: 184px;
  height: 32px;
  font-family: $openSans;
  font-size: 17.68px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $white;
  background: $black;
  border: none;
  outline:none;

  &:hover {
    background: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}


                              /*  footer-bottom   */

.footer-bottom {
  margin: 18px 0 16px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

  @include mq(1100px, max) {
    flex-wrap: wrap;
  }

  @include mq(750px, max) {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}

.footer-bottom__contacts {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(750px, max) {
    width: 300px;
    flex-wrap: wrap;
  }
}

.footer-bottom__contacts-item {
  margin: 0 8px;
  font-family: $openSans;
  font-size: 12px;
  line-height: 2;
  color: $white;

  span {
    text-transform: uppercase;
  }
}

.footer-bottom__contacts-link {
  margin: 0 8px;
  font-family: $openSans;
  font-size: 12px;
  line-height: 2;
  text-decoration: none;
  color: $white;
  outline:none;

  &:hover {
    color: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}



.footer-bottom__content {
  margin-left: 170px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(1230px, max) {
    margin-left: 50px;
  }

  @include mq(750px, max) {
    margin: 10px 0 0 0;
  }
}

.footer-bottom__content-socials {
  display: flex;
  justify-content: space-around;
}

.footer-bottom__content-socials--fb {
  margin-right: 9px;
  width: 19px;
  height: 18px;
  outline:none;
  background: url('../img/footer__social-fb.png');
  opacity: 0.6;

  &:hover {
    opacity: 1;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}

.footer-bottom__content-socials--instagram {
  margin-right: 7px;
  width: 19px;
  height: 18px;
  outline:none;
  background: url('../img/footer__social-instagram.png');
  opacity: 0.6;

  &:hover {
    opacity: 1;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}

.footer-bottom__content-socials--p {
  width: 19px;
  height: 18px;
  outline:none;
  background: url('../img/footer__social-p.png');
  opacity: 0.6;

  &:hover {
    opacity: 1;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}



.footer-bottom__content-languages {
  margin-left: 72px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(1230px, max) {
    margin-left: 22px;
  }

  @include mq(750px, max) {
    margin-left: 12px;
  }
}

.footer-bottom__content-languages--link {
  height: 12px;
  margin: 0;
  padding: 0 11px 0 10px;
  font-family: $openSans;
  border-right: 1px solid $white;
  font-size: 14px;
  line-height: 0.9;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  outline:none;

  &:hover {
    color: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}

.frame {
  border-right: none;
}
