.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $ship-gray;

  @include mq(500px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.header-logo {
  padding-left: 20px;

  @include mq(900px, max) {
    width: 240px;
    height: 71px;
  }

  @include mq(765px, max) {
    width: 283px;
    height: 83px;
  }

  @include mq(600px, max) {
    width: 240px;
    height: 71px;
  }

  @include mq(500px, max) {
    width: 283px;
    height: 83px;
    padding: 0;
    margin: 25px 0;
  }

  @include mq(400px, max) {
    width: 240px;
    height: 71px;
  }
}

.header-content {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  @include mq(765px, max) {
    height: auto;
  }

  @include mq(500px, max) {
    justify-content: center;
    align-items: center;
  }
}

.header-content__link {
  margin: 1px 20px 0 0;
  font-family: $openSans-bold;
  font-size: 14px;
  line-height: 1.72;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: $white;

  &:hover {
    color: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  @include mq(500px, max) {
    padding: 0;
    margin: 0 0 20px 0;
  }
}

.header-content__link-logo {
  margin-left: 7px;
}

.header-content__nav {
  margin: 16px 0 19px 0;
  padding: 0 5px 0 0;
  display: flex;
  justify-content: center;

  @include mq(765px, max) {
    width: 100px;
    margin-right: 33px;
    flex-direction: column;
    align-items: center;
  }

  @include mq(500px, max) {
    margin: 0 0 25px 0;
    padding: 0;
  }
}

.header-content__nav-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 9px;
    padding: 5px;
    font-family: $openSans-bold;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: $white;

    &:hover {
      color: $hampton;
      transition: 0.5s all;
    }

    &:not(:hover) {
      transition: 0.5s all;
    }

    @include mq(900px, max) {
      margin: 0 5px;
      font-size: 15px;
    }

    @include mq(765px, max) {
      padding: 0;
      margin: 2px 0;
      width: 100px;
    }
  }

  span {
    color: $hampton;
  }
}

.nav-list {
  &:hover .header-content__nav-submenu {
    display: flex;
    z-index: 100;
  }

  @include mq(765px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.header-content__nav-submenu {
  width: 149px;
  height: 152px;
  padding: 0 0 8px 1px;
  box-sizing: border-box;
  position: absolute;
  top: 110px;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background-color: $ship-gray;
  z-index: 100;

  @include mq(900px, max) {
    width: 137px;
    height: 129px;
    padding: 0 0 8px 0;
  }

  @include mq(765px, max) {
    height: auto;
    padding: 0;
    position: relative;
    top: auto;
    background: #3f3f3f;
  }
}

.header-content__nav-submenu--item {
  width: 132px;
  padding: 2px;
  box-sizing: border-box;
  border-bottom: 1px solid $white;

  @include mq(900px, max) {
    width: 125px;
  }

  @include mq(765px, max) {
    text-align: center;
  }

  a {
    margin: 0;
    padding: 0;
    font-family: $openSans;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;

    @include mq(900px, max) {
      margin: 0 5px;
      font-size: 15px;
      line-height: 1.33;
    }
  }
}

.line {
  border-bottom: none;
}




































