.main {
  z-index: 1;
  height: auto;
  position: relative;
  box-sizing: border-box;
}

.slide-2__content {
  width: 510px;
  height: 140px;
  position: absolute;
  top: 37.5%;
  right: 0;
  background: rgba(255,255,255,0.95);

  @include mq(1100px, max) {
    width: 435px;
    height: auto;
  }

  @include mq(900px, max) {
    width: 340px;
  }

  @include mq(700px, max) {
    width: 260px;
  }

  @include mq(500px, max) {
    width: 226px;
  }

  @include mq(400px, max) {
    width: 155px;
    top: 14.5%;
  }
}

.slide-2__content-caption {
  padding: 0 0 0 29px;
  font-family: $playfair-display-bold-italic;
  font-size: 30px;
  line-height: 0.8;
  letter-spacing: -0.3px;
  color: $black-2;
  text-transform: uppercase;

  @include mq(1100px, max) {
    font-size: 25px;
    padding: 0 0 0 24px;
  }

  @include mq(900px, max) {
    font-size: 20px;
    padding: 0 0 0 19px;
  }

  @include mq(700px, max) {
    font-size: 15px;
    padding: 0 0 0 14px;
  }

  @include mq(500px, max) {
    font-size: 13px;
    padding: 0 0 0 7px;
    margin-bottom: 4px;
    line-height: 1;
  }
}

.slide-2__content-text {
  padding: 0 29px 0 29px;
  font-family: $openSans;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.1px;
  color: $black;

  @include mq(1100px, max) {
    font-size: 15px;
    padding: 0 24px 0 24px;
    margin: 0 0 20px 0;
  }

  @include mq(900px, max) {
    font-size: 12px;
    padding: 0 19px 0 19px;
    margin: 0 0 20px 0;
  }

  @include mq(700px, max) {
    font-size: 10px;
    padding: 0 14px 0 14px;
    margin: 0 0 15px 0;
  }

  @include mq(500px, max) {
    padding: 0 7px 0 7px;
    margin: 0 0 7px 0;
  }
}



                            /*  modal   */

.modal {
  background: $nobel;

  &:before {
    content: "";
    display: none;
    position: absolute;
    z-index: 10;
  }

  &:target:before {
    display: flex;
  }
}

.modal-dialog {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  z-index: 11;
  width: 1200px;
  height: 172px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  pointer-events: none;

  @include mq(1230px, max) {
    width: 1000px;
    height: 153px;
  }

  @include mq(1050px, max) {
    width: 800px;
    height: 146px;
  }

  @include mq(850px, max) {
    width: 600px;
    height: 128px;
  }

  @include mq(650px, max) {
    position: relative;
    display: none;
    width: 400px;
    height: auto;
  }

  @include mq(400px, max) {
    width: 100%;
  }
}

.modal:target .modal-dialog {
  opacity: 1;
  pointer-events: auto;

  @include mq(650px, max) {
    position: relative;
    display: flex;
  }
}



.btn {
  display: flex;
  width: 84px;
  height: 28px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  background: $white;

  @include mq(780px, max) {
    width: 42px;
    height: 14px;
  }

  &:hover {
    background: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 20px;
    width: 22px;
    transform: rotate(-36deg);
    border: 1px solid $black;

    @include mq(780px, max) {
      width: 11px;
      bottom: 6px;
      left: 10px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 12px;
    right: 21px;
    width: 22px;
    transform: rotate(37deg);
    border: 1px solid $black;

    @include mq(780px, max) {
      width: 11px;
      bottom: 6px;
      right: 10px;
    }
  }
}

.btn-close {
  width: 88px;
  height: 29px;
  position: absolute;
  left: 0;
  right: 0;
  top: -16.5%;
  margin: auto;
  z-index: 101;
  background: $white;
  transition: color .1s ease;

  @include mq(850px, max) {
    width: 42px;
    height: 14px;
    top: -14px;
  }

  &:hover {
    background: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 21px;
    width: 23px;
    transform: rotate(37deg);
    border: 1px solid $black;

    @include mq(780px, max) {
      width: 11px;
      bottom: 6px;
      left: 10px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 12px;
    right: 23px;
    width: 23px;
    transform: rotate(-38deg);
    border: 1px solid $black;

    @include mq(780px, max) {
      width: 11px;
      bottom: 6px;
      right: 10px;
    }
  }
}

                              /*   modal-content   */

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(650px, max) {
    flex-direction: column;
  }
}

.popup-question {
  width: 33.33%;
  height: auto;
  background: $hampton;

  @include mq(650px, max) {
    width: 100%;
  }
}

.popup-question__title {
  margin: 14px 15px 7px 15px;
  font-family: $playfair-display-bold;
  font-size: 28px;
  line-height: 1.08;
  color: $black;

  @include mq(1230px, max) {
    font-size: 24px;
  }

  @include mq(1050px, max) {
    margin: 12px 13px 5px 13px;
    font-size: 20px;
  }

  @include mq(850px, max) {
    font-size: 16px;
  }

  @include mq(650px, max) {
    margin: 14px 15px 7px 15px;
    font-size: 20px;
  }
}

.popup-question__text {
  margin: 0 15px;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.56;
  color: $black;

  @include mq(1230px, max) {
    font-size: 14px;
  }

  @include mq(1050px, max) {
    margin: 0 13px;
    font-size: 12px;
  }

  @include mq(650px, max) {
    margin: 0 15px;
    font-size: 12px;
  }
}

.popup-question__wrapper {
  margin: 11px 21px 7px 21px;
  display: flex;
  justify-content: flex-end;

  @include mq(1050px, max) {
    margin: 9px 19px 5px 19px;
  }

  @include mq(850px, max) {
    margin: 0 13px 5px 13px;
  }

  @include mq(650px, max) {
    margin: 9px 19px 5px 19px;
  }
}

.popup-question__wrapper-link {
  font-family: $openSans;
  font-size: 18px;
  line-height: 1.39;
  color: $white;
  text-decoration: none;

  @include mq(1230px, max) {
    font-size: 16px;
  }

  @include mq(1050px, max) {
    font-size: 14px;
  }

  @include mq(850px, max) {
    font-size: 13px;
  }

  @include mq(650px, max) {
    font-size: 14px;
  }

  &:hover {
    text-decoration: underline;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}

                              /*   popap-fair   */

.popup-fair {
  width: 33.33%;
  height: auto;
  background: $white;

  @include mq(650px, max) {
    width: 100%;
  }
}

.popup-fair__title {
  margin: 14px 15px 7px 15px;
  font-family: $playfair-display-bold;
  font-size: 28px;
  line-height: 1.08;
  color: $black;

  @include mq(1230px, max) {
    font-size: 24px;
  }

  @include mq(1050px, max) {
    margin: 12px 13px 5px 13px;
    font-size: 20px;
  }

  @include mq(850px, max) {
    font-size: 16px;
  }

  @include mq(650px, max) {
    margin: 14px 15px 7px 15px;
    font-size: 20px;
  }
}

.popup-fair__text {
  margin: 0 15px;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.56;
  color: $black;

  @include mq(1230px, max) {
    font-size: 14px;
  }

  @include mq(1050px, max) {
    margin: 0 13px;
    font-size: 12px;
  }

  @include mq(650px, max) {
    margin: 0 15px;
    font-size: 12px;
  }
}

.popup-fair__wrapper {
  margin: 11px 21px 7px 21px;
  display: flex;
  justify-content: flex-end;

  @include mq(1050px, max) {
    margin: 9px 19px 5px 19px;
  }

  @include mq(850px, max) {
    margin: 0 13px 5px 13px;
  }

  @include mq(650px, max) {
    margin: 9px 19px 5px 19px;
  }
}

.popup-fair__wrapper-link {
  font-family: $openSans;
  font-size: 18px;
  line-height: 1.39;
  color: $black;
  text-decoration: none;

  @include mq(1230px, max) {
    font-size: 16px;
  }

  @include mq(1050px, max) {
    font-size: 14px;
  }

  @include mq(850px, max) {
    font-size: 13px;
  }

  @include mq(650px, max) {
    font-size: 14px;
  }

  &:hover {
    text-decoration: underline;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}

                              /*   popup-collections   */

.popup-collections {
  width: 33.33%;
  height: auto;
  background: $black;

  @include mq(650px, max) {
    width: 100%;
  }
}

.popup-collections__title {
  margin: 14px 15px 35px 15px;
  font-family: $playfair-display-bold;
  font-size: 28px;
  line-height: 1.07;
  color: $white;

  @include mq(1230px, max) {
    margin: 14px 15px 30px 15px;
    font-size: 24px;
  }

  @include mq(1050px, max) {
    margin: 12px 13px 24px 13px;
    font-size: 20px;
  }

  @include mq(850px, max) {
    margin: 12px 13px 3px 13px;
    font-size: 16px;
  }

  @include mq(650px, max) {
    margin: 14px 15px 7px 15px;
    font-size: 20px;
  }
}

.popup-collections__text {
  margin: 0 15px;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.56;
  color: $white;

  @include mq(1230px, max) {
    font-size: 14px;
  }

  @include mq(1050px, max) {
    margin: 0 13px;
    font-size: 12px;
  }

  @include mq(650px, max) {
    margin: 0 15px;
    font-size: 12px;
  }
}

.popup-collections__wrapper {
  margin: 11px 21px 7px 21px;
  display: flex;
  justify-content: flex-end;

  @include mq(1050px, max) {
    margin: 9px 19px 5px 19px;
  }

  @include mq(850px, max) {
    margin: 0 13px 5px 13px;
  }

  @include mq(650px, max) {
    margin: 9px 19px 5px 19px;
  }
}

.popup-collections__wrapper-link {
  font-family: $openSans;
  font-size: 18px;
  line-height: 1.56;
  color: $white;
  text-decoration: none;

  @include mq(1230px, max) {
    font-size: 16px;
  }

  @include mq(1050px, max) {
    font-size: 14px;
  }

  @include mq(850px, max) {
    font-size: 13px;
  }

  @include mq(650px, max) {
    font-size: 14px;
  }

  &:hover {
    text-decoration: underline;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}




                                /*   modal-2   */

.modal-2 {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.5);  /*цвет фона */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  padding: 0;
}

/* при отображении модального окно */
.modal-2:target {
  z-index: 200;
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}


  /* ширина модального окна и его отступы от экрана */
.modal-2__dialog {
  width: 594px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 259px;

  @include mq(700px, max) {
    width: 444px;
  }

  @include mq(500px, max) {
    width: 252px;
    top: 100px;
  }
}


/* свойства для кнопки "Закрыть" */
.close-2 {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}

/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close-2:focus, .close-2:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}



                          /*   modal-2__content   */

/* свойства для блока, содержащего контент модального окна */
.modal-2__content {
  height: 359px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $ship-gray;
  outline: 0;

  @include mq(500px, max) {
    height: auto;
  }
}


                      /*   modal-2__header   */

.modal-2__header {
  display: flex;
  justify-content: center;
}

.modal-2__title {
  margin: 9px 0;
  font-family: $playfair-display-bold;
  font-size: 23.7px;
  line-height: 1;
  color: $white;
  text-transform: uppercase;

  @include mq(500px, max) {
    margin: 50px 0 0 0;
  }
}

.btn-close__2 {
  width: 23px;
  height: 22px;
  display: flex;
  position: absolute;
  top: 12px;
  right: 17px;
  background: url("../img/btn-close__2.png");

  &:hover {
    transform: rotate(180deg);
    transition: 0.4s all;
  }

  &:not(:hover) {
    transition: 0.4s all;
  }
}


                           /*   modal-__body   */

/* свойства для блока, содержащего основное содержимое окна */
.modal-2__body {
  display: flex;
  justify-content: center;
  overflow: auto;

  @include mq(500px, max) {
    flex-direction: column;
    align-items: center;
  }
}

.body-left__item {
  width: 190px;
  margin-right: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  @include mq(700px, max) {
    margin-right: 10px;
  }

  @include mq(500px, max) {
    margin: 20px 0 0 0;
  }
}

.body-left__item-caption {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 12px 0 12px 1px;
  font-family: $playfair-display-bold;
  font-size: 18px;
  line-height: 1.32;
  color: $white;
  text-transform: uppercase;
}

.body-left__item-form--mail {
  width: 184px;
  height: 31px;
  padding: 0 11px;
  box-sizing: border-box;
  border: none;
  background: $white;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: $nobel;
}

.body-left__item-form--password {
  width: 184px;
  height: 31px;
  margin: 7px 0;
  padding: 0 11px;
  box-sizing: border-box;
  border: none;
  background: $white;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: $nobel;
}

.body-left__item-form--submit {
  width: 184px;
  height: 31px;
  margin: 7px 0 4px 0;
  box-sizing: border-box;
  border: none;
  background: $black;
  font-family: $openSans;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}

.body-left__item-form--link {
  font-family: $openSans;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: $nobel;
  text-decoration: none;
  outline: 0;
}


                           /*   body-right   */

.body-right__item {
  width: 190px;
  margin: 0 0 22px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;

  @include mq(700px, max) {
    margin: 0 0 22px 10px;
  }

  @include mq(500px, max) {
    margin: 20px 0 32px 0;
  }
}

.body-right__item-caption {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 12px 0 12px 1px;
  font-family: $playfair-display-bold;
  font-size: 18px;
  line-height: 1.32;
  color: $white;
  text-transform: uppercase;
}

.body-right__item-form--nome {
  width: 184px;
  height: 31px;
  padding: 0 11px;
  box-sizing: border-box;
  border: none;
  background: $white;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: $nobel;
}

.body-right__item-form--cognome {
  width: 184px;
  height: 31px;
  margin: 12px 0 9px 0;
  padding: 0 11px;
  box-sizing: border-box;
  border: none;
  background: $white;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: $nobel;
}

.body-right__item-form--mail {
  width: 184px;
  height: 31px;
  padding: 0 11px;
  box-sizing: border-box;
  border: none;
  background: $white;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: $nobel;
}

.body-right__item-form--password {
  width: 184px;
  height: 31px;
  margin: 12px 0 6px 0;
  padding: 0 11px;
  box-sizing: border-box;
  border: none;
  background: $white;
  font-family: $openSans;
  font-size: 16px;
  line-height: 1.5;
  color: $nobel;
}





.body-right__item-form--checkbox {
  display: none;
}

.body-right__item-form--wrapper {
  display: flex;
  align-items: center;
  height: 20px;
  margin: 2px 0 0 0;

  label {

    &:before {
      content: " ";
      color: #000;
      display: inline-block;
      font: 8px/8px FontAwesome;
      line-height: 1;
      margin: 0 8px 0 1px;
      position: relative;
      text-align: center;
      text-indent: 0;
      width: 8px;
      height: 8px;
      background: #FFF;
      border: none;
      border-image: initial;
      vertical-align: middle;
    }
  }

  input:checked + label:before {
    content: "\f00c";
  }

  input:disabled + label:before {
    background: #eee;
    color: #aaa;
  }
}

.body-right__item-form--link {
  font-family: $openSans;
  font-size: 10px;
  /*letter-spacing: -0.2px;*/
  line-height: 2.4;
  color: $nobel;
  text-decoration: none;
  outline:none;

  &:hover {
    color: $hampton;
    transition: 0.5s all;
  }

  &:not(:hover) {
    transition: 0.5s all;
  }
}



.body-right__item-form--submit {
  width: 184px;
  height: 31px;
  margin: 7px 0 4px 0;
  box-sizing: border-box;
  border: none;
  background: $black;
  font-family: $openSans;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: $white;
}
























