.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 1200px;
  height: 172px;
/*  margin: 0;*/
  position: relative;
  z-index: 1000;

  @include mq(1100px, max) {
    width: 80%;
  }
}

.popup-title {
  margin: 50px 0 0 0;
  font-family: $playfair-display-bold-italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @include mq(1100px, max) {
    font-size: 25px;
    line-height: 31px;
  }

  @include mq(720px, max) {
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
}


                    /*   popup-rooms   */

.popup-rooms {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(1100px, max) {
    width: 90%;
  }
}

.popup-rooms__title {
  margin: 50px 0 63px 0;
  font-family: $playfair-display-bold-italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @include mq(1100px, max) {
    font-size: 25px;
    line-height: 31px;
  }

  @include mq(720px, max) {
    margin: 50px 0 43px 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.popup-rooms__content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mq(950px, max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.popup-rooms__content-image {
  border-radius: 16px;

  @include mq(950px, max) {
    margin-bottom: 30px;
  }

  @include mq(450px, max) {
    width: 220px;
    height: auto;
  }
}

.popup-rooms__content-list {
  width: 270px;
  margin: 0;

  @include mq(950px, max) {
    padding-left: 20px;
  }

  @include mq(450px, max) {
    width: auto;
  }
}

.popup-rooms__content-list--text {
  font-family: $playfair-display-bold-italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
}


                      /*   popup-kitchen   */


.popup-kitchen {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(1100px, max) {
    width: 90%;
  }
}

.popup-kitchen__title {
  margin: 50px 0 63px 0;
  font-family: $playfair-display-bold-italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @include mq(1100px, max) {
    font-size: 25px;
    line-height: 31px;
  }

  @include mq(720px, max) {
    margin: 50px 0 43px 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.popup-kitchen__content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mq(950px, max) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.popup-kitchen__content-image {
  border-radius: 16px;

  @include mq(450px, max) {
    width: 220px;
    height: auto;
  }
}

.popup-kitchen__content-list {
  width: 270px;
  margin: 0;
  padding-left: 20px;

  @include mq(950px, max) {
    margin-top: 30px;
  }

  @include mq(450px, max) {
    width: auto;
  }
}

.popup-kitchen__content-list--text {
  font-family: $playfair-display-bold-italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
}


                      /*   popup-bathroom   */


.popup-bathroom {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(1100px, max) {
    width: 90%;
  }
}

.popup-bathroom__title {
  margin: 50px 0 63px 0;
  font-family: $playfair-display-bold-italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @include mq(1100px, max) {
    font-size: 25px;
    line-height: 31px;
  }

  @include mq(720px, max) {
    margin: 50px 0 43px 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.popup-bathroom__content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mq(950px, max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.popup-bathroom__content-image {
  border-radius: 16px;

  @include mq(950px, max) {
    margin-bottom: 30px;
  }

  @include mq(450px, max) {
    width: 220px;
    height: auto;
  }
}

.popup-bathroom__content-list {
  width: 270px;
  margin: 0;

  @include mq(950px, max) {
    padding-left: 20px;
  }

  @include mq(450px, max) {
    width: auto;
  }
}

.popup-bathroom__content-list--text {
  font-family: $playfair-display-bold-italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
}


                      /*   popup-hallway   */

.popup-hallway {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(1100px, max) {
    width: 90%;
  }
}

.popup-hallway__title {
  margin: 50px 0 63px 0;
  font-family: $playfair-display-bold-italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @include mq(1100px, max) {
    font-size: 25px;
    line-height: 31px;
  }

  @include mq(720px, max) {
    margin: 50px 0 43px 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.popup-hallway__content {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mq(950px, max) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.popup-hallway__content-image {
  border-radius: 16px;

  @include mq(450px, max) {
    width: 220px;
    height: auto;
  }
}

.popup-hallway__content-list {
  width: 270px;
  margin: 0;
  padding-left: 20px;

  @include mq(950px, max) {
    margin-top: 30px;
  }

  @include mq(450px, max) {
    width: auto;
  }
}

.popup-hallway__content-list--text {
  font-family: $playfair-display-bold-italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
}


                    /*   popup-comment   */

.popup-comment {
  width: 83%;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  font-family: $playfair-display-bold-italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  @include mq(1100px, max) {
    width: 90%;
  }
}


                    /*   popup-additional   */

.popup-additional {
  margin-bottom: 34px;
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(1100px, max) {
    width: 90%;
  }
}

.popup-additional__title {
  margin: 57px 0 41px 0;
  font-family: $playfair-display-bold-italic;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @include mq(1100px, max) {
    font-size: 25px;
    line-height: 31px;
  }

  @include mq(720px, max) {
    margin: 50px 0 43px 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }
}

.popup-additional__list {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include mq(740px, max) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.popup-additional__items-left {
  margin: 0;
  padding-left: 20px;

  @include mq(740px, max) {
    width: 215px;
  }
}

.popup-additional__items-right {
  margin: 0;
  padding-left: 20px;

  @include mq(740px, max) {
    width: 215px;
  }
}

.popup-additional__item {
  font-family: $playfair-display-bold-italic;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-align: left;
}


























