
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/OpenSans.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url('../fonts/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/OpenSans-Light.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'playfair-display-bold';
  src: url('../fonts/playfair-display-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/playfair-display-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/playfair-display-bold.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/playfair-display-bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/playfair-display-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'playfair-display-bold-italic';
  src: url('../fonts/playfair-display-bold-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/playfair-display-bold-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/playfair-display-bold-italic.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/playfair-display-bold-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/playfair-display-bold-italic.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


