$openSans: 'OpenSans', 'Arial', sans-serif;
$openSans-bold: 'OpenSans-Bold', 'Arial', sans-serif;
$openSans-light: 'OpenSans-Light', 'Arial', sans-serif;
$playfair-display-bold: 'playfair-display-bold', 'Arial', sans-serif;
$playfair-display-bold-italic: 'playfair-display-bold-italic', 'Arial', sans-serif;
$fontpath: '../fonts/';
